[KdmGreeterTheme]
Greeter=actos.xml
Name=Actos
Description=Actos KDM Theme

Author=Ionut Colceriu
Copyright=Creative Commons by-sa
Screenshot=screenshot.jpeg
